log/development.log
log/test.log
db/test.sqlite3
db/development.sqlite3
tmp/pids/server.pid
tmp/cache/
tmp/latest.dump
tmp/letter_opener/

# Ignore application configuration
/config/application.yml

# Ignore raw data
db/raw/
tmp/vats.csv
log/newrelic_agent.log
log/mailers.log
.DS_Store
spec/fixtures/ephemeral_response