<p>Bonjour !</p>

<p>
  Il semble que vous n'ayez pas d'abonnement actif.
</p>

<p>
  Pour continuer d'utiliser Companydata.co, merci de vous connecter <%= link_to "à votre compte", edit_user_registration_url %> (bouton "Offres et paiement") afin de choisir le plan qui vous convient le mieux.
</p>

<p>
  À défaut, nous serons dans l'obligation de suspendre votre compte.
</p>

<p>
  Vous souhaitez une offre différente ? Contactez-nous !
</p>
