<p>Bonjour !</p>

<p>
  Il semble que vous ayez des factures non réglées.
</p>

<p>
  Pour éviter tout risque de blocage de votre compte, merci de vous connecter <%= link_to "à votre compte", edit_user_registration_url %> (bouton "Offres et paiement") afin de régulariser.
</p>
