<div class="d-flex align-items-center justify-content-center w-100 h-100">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-md-6 ml-md-auto mr-md-auto">
        <div class="card">
          <div class="card-body pt-5 pb-5 px-5">
            <i class="display-3 fa fa-rocket text-gray-900"></i>
            <h3 class="mt-4"><%= t("about.title") %></h3>
            <p><%= t("about.description", app_name: app_name) %></p>
            <small>How awesome is that, right?</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>