<div class="page-header">
  <div class="d-flex mr-auto align-items-center">
    <h4 class=""><%= t("companies.breadcrumb.title") %></h4>
    <ol class="breadcrumb-3 text-right text-muted">
      <li class="breadcrumb-item"><%= @query %></li>
      <li class="breadcrumb-item"><%= @company.smooth_name %></li>
    </ol>
  </div>
</div>
