<div class="m-1 card card-tabbed">
  <div class="card-header">
    <h6>Financial years</h6>
  </div>
  <div class="card-body">
    <table class="table table-sm font-size-small">
      <thead>
        <tr>
          <th>Year</th>
          <th>Revenue</th>
          <th>Income</th>
          <th>Staff</th>
          <th>Duration</th>
          <th>Closing date</th>
        </tr>
      </thead>
      <% @company.financial_years.each do |financial_year| %>
        <%= render "financial_year", financial_year: financial_year %>
      <% end %>
    </table>
  </div>
</div>