<div class="m-1 card card-tile-hero">
  <div class="card-header text-center">
    <i class="ti-map display-1 text-brand-primary-lightest"></i>
  </div>
  <div class="card-body text-center">
    <small><%= simple_format(full_address(@company)) %></small>
    <h3 class="m-0 leading-normal"><%= @company.country %></h3>
  </div>
</div>      