<div class="m-1 card card-tabbed">
  <div class="card-header">
    <h6><%= t("companies.profile.title") %></h6>
  </div>
  <div class="card-body">
    <table class="table table-sm font-size-small">
      <% profile_attributes(@company).each do |label, value| %>
        <tr>
          <td><strong><%= label %></strong></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>