<% @title = @company.name %>

<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col-md-6">
      <div class="row">
        <%= render "resume", company: @company %>
      </div>
      <div class="row">
        <%= render "profile", company: @company %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <%= render "presentation", company: @company %>
      </div>
      <div class="row">
        <%= render "localization", company: @company %>
      </div>
    </div>
  </div>
</div>