<table border="0" cellpadding="10" cellspacing="0" width="100%">
  <tr>
    <td align="left" valign="top">
      <br />
      <br />
      <span class="applefix" style="font-family:Arial; font-size:14px; color:#888888;">
        <b>Une question ?</b><br />
        <%= mail_to "sebastien@companydata.co", "sebastien@companydata.co" %>
      </span>
      <br />
      <br />
    </td>

    <td align="left" valign="top">
      <br />
      <br />
      <span class="applefix" style="font-family:Arial; font-size:14px; color:#888888;">
        <b>Notre adresse :</b><br />
        JustDo SAS<br />
        3 boulevard de Sébastopol<br />
        75001 Paris<br />
        France
      </span>
      <br />
      <br />
    </td>
  </tr>
</table>